In [1]:
import pandas as pd

In [2]:
pd.read_csv("abalone.csv")

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,abalone,2.661497,-2.628069,1.455021,2.824369,1.644479,0.977095,0.061112,1.130098,-2.545235,...,-0.73536,0.849135,-0.661419,2.348004,-1.516968,0.520532,2.894528,2.987249,2.258234,-2.564725